.container-accordion {
  display: flex;
  padding: 0px 16px;
}

.image-section {
  flex: 1;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.image-section img {
  width: 90%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}

.content-section {
  flex: 1.2;
  padding: 20px;
}

.content-section h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #4b9e60;
  font-weight: 800;
  text-align: left;
}
.content-section p {
  font-size: 17px;
  color: #556260;
  text-align: left;
}
.accordion {
  margin-top: 20px;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
  transition: background 0.3s ease;
}

.accordion-item.expanded {
  background: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-item button {
  background: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  width: 100%;
  text-align: left;
  padding: 22px;
  font-size: 18px;
  color: #4b9e60;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease;
}

.accordion-item button::after {
  content: "+";
  font-size: 22px;
}

.accordion-item button.active::after {
  content: "-";
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, background 0.3s ease;
  background: white;
}

.accordion-content p {
  text-align: left;
  margin: 10px 0;
  color: #556260;
  padding: 20px;
}
